---
layout: page
---

{%- assign property_sources = page.properties | group_by:"source" -%}
{%- for property_source in property_sources -%}
<div class="c-json_reference">
<h3>{{property_source.name | capitalize }}</h3>
{% highlight json %}
    { 
        {% for property in property_source.items  -%}
            "{{property.name}}" : {{property.default}}{%- unless forloop.last %},{% endunless -%} 
            {% for childproperty in property.properties %} {% unless forloop.last %} { {% endunless %}
                    "{{childproperty.name}}" : {{childproperty.default}} {%- unless forloop.last %},{% endunless %}
            {% if forloop.last %} } {% endif %}
            {% endfor %}
        {% endfor %}
    }
{% endhighlight %}

{%- for property in property_source.items  %}
<div class="c-reference_properties">
    <ul>
    <li><strong>Property</strong> {{property.name}}</li>
    <li><strong>Description</strong> {{property.description}}</li>
    <li><strong>Type</strong> {{property.type}}</li>
    <li><strong>Required</strong> {{property.required}}</li>
    <li><strong>Default</strong> {{property.default}}</li>
    <li><strong>Values</strong> {{property.value}}</li>
    </ul>
</div>
{% endfor %}
</div>
{%- endfor -%}

